<div class="item-list">

  <p>ユーザーを検索</p>
  <nav class="navbar">
    <%= form_with url: profile_search_path,:method => 'get',class: "container-fluid" do |f| %>
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1">@</span>
        <%= f.text_field :name, class: "form-control",placeholder: "UserName",aria: {label:"Username",describedby: "basic-addon1"}%>
        <!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
      </div>
    <% end %>
  </nav>

  <div class="item-list-header">
    <p class="bold">フォローリスト</p>
  </div>

  <div class="item-list-content">
    <ul>
      <% @mates.each do |user| %>
        <div class="each-item">
          <li>
            <div class="each-item-content">

              <div class="item-content-left">
                <!--ユーザー画像-->
              </div>

              <div class="item-content-right">
                <p><%= link_to user.username, profile_path(user.userid) %></p>
              </div>

            </div>
          </li>
        </div>
      <% end %>
    </ul>
  </div>

  <div class="item-list-header">
    <p class="bold">おすすめユーザー</p>
  </div>

  <div class="item-list-content">
    <ul>
      <% @users.shuffle.first(5).each do |user| %>
        <% unless current_user.id == user.id %>
          <% unless current_user.following?(user) %>
            <div class="each-item">

              <li>
                <div class="each-item-content">
                  <div class="item-content-left">
                    <!--ユーザー画像-->
                  </div>
                  <div class="item-content-right">
                    <p><%= link_to user.username, profile_path(user.userid) %></p>
                    <% if user.follow_request?(current_user, user) %>
                      <p><i class="fas fa-star"></i></p>
                    <% end %>
                  </div>
                </div>
              </li>

            </div>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>