<%= stylesheet_link_tag 'profiles', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">おすすめユーザー (<%= @users.size %>) </h6>
    　 <% if @users.size == 0 %>
      <p class="text-gray-dark">現在はいないようです！</p>
      <% end %>
    <%= render partial: "profiles/user", collection: @pagenate, as: :user %>
  </div>
  <%= render 'layouts/pagenate', pagenate: @pagenate %>
</div>