<strong style="color:lightseagreen">
  <%= link_to timeline_path(notification.post_id), class: "text-decoration-none" do %>
    <span><%= "あなたの投稿" %></span>
  <% end %>
  <span>にいいねしました</span>
</strong>