<%= link_to timeline_path(value.post_id), class: "text-decoration-none" do %>
  <span><%= "あなたの投稿" %></span>
<% end %>
<span>にいいねしました</span>
<div class="p-3 my-3 text-dark bg-blue rounded shadow-sm" style="margin-left: 40px">
  <span><%= value.post.content[0..25] %><%= "..." if value.post.content.length > 25 %></span>
</div>