<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<div class="container">
  <% if notifications.exists? %>
    <%= render notifications %>
  <% else %>
    <p class="text-center">通知はありません</p>
  <% end %>
</div>