<div class="container">
  <div class="p-3 my-3 text-dark rounded shadow-sm" style="min-height: 300px">
    <div class="time text-end">
      <i class="far fa-clock clock-icon" style="margin-right: 3px"></i><%= @content.created_at.strftime('%F') %>
    </div>
    <div class="text-center">
      <h1><%= @content.title %></h1>
    </div>

    <hr />
    <p><%= link(h(@content.content).html_safe).gsub(/\r\n|\r|\n/, "<br />").html_safe %></p>
    <p class="text-end">Avails</p>

  </div>
</div>