<nav class="nav nav-underline border-bottom w-100" id="chatnav" style="background-color: #fff; height: 30px; border-bottom: solid 1px rgba(29, 144, 190, 0.8);">
  <div style="margin-left:12px">
    <span>コミュニティ : </span>
    <span><%= community.name %></span>
  </div>
</nav>