<h1>home#about</h1>

<div>
  <p class="Avails">Avails<br></p><p>2T1グループ１</p>
  <div class = "members">
    <span class="usui">05 薄井大樹</span>
    <span class="utsunomiya">06 宇津宮一歩</span>
    <span class="endo">08 遠藤桂樹</span><br>
    <span class="kubo"> 17 久保聖人</span>
    <span class="suyaryu">29 須山龍</span>
    <span class="tomosugi">38 友杉颯太</span>
  </div>
</div>
