<h2 data-sal="slide-down">クレジット</h2>
<div class="medium">
  <h3 data-sal="slide-down" data-sal-delay="200" data-sal-duration="500">Avails 2T1 グループ１</h3>
  <div class="members">
    <span data-sal="fade" data-sal-delay="300" data-sal-duration="500">05 薄井大樹</span>
    <span data-sal="fade" data-sal-delay="400" data-sal-duration="500">06 宇津宮一歩</span>
    <span data-sal="fade" data-sal-delay="500" data-sal-duration="500">08 遠藤桂樹</span><br>
    <span data-sal="fade" data-sal-delay="600" data-sal-duration="500">17 久保聖人</span>
    <span data-sal="fade" data-sal-delay="700" data-sal-duration="500">29 須山龍</span>
    <span data-sal="fade" data-sal-delay="800" data-sal-duration="500">38 友杉颯太</span>
  </div>
</div>