<div class="bg_pattern Polka"></div>

<div>
  <h2>クレジット</h2>
  <div class="medium">
    <h3>Avails 2T1 グループ１</h3>
    <div class="members">
      <span>05 薄井大樹</span>
      <span>06 宇津宮一歩</span>
      <span>08 遠藤桂樹</span><br>
      <span> 17 久保聖人</span>
      <span>29 須山龍</span>
      <span>38 友杉颯太</span>
    </div>
  </div>
</div>