<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/html">
<%= stylesheet_link_tag 'about', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'contacts', media: 'all', 'data-turbolinks-track': 'reload' %>

<body>

<%= flash.now[:notice] %>
<!--- この辺にログインの認証 --->
<header>

</header>

<section class="ask">
  <span class="big">お問い合わせ</span>
  <div class="medium">

    <%= form_tag("/test/mail") do %>
      名前<input type="name" name="name" size="30%" >
      Email<input type="email" name="email" size="30%" ><br>
      問い合わせ内容<br><textarea name="content" placeholder="こちらにお問い合わせ内容を入力してください。"></textarea><br>

      <input type="submit" value="送信"><input type="reset" value="クリア">
      <% end %>
  </div>
</section>

</body>
</html>