<!DOCTYPE html>
<html lang="ja">

<%= javascript_pack_tag 'home/index' %>
<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/home/top.scss">
<body>
<header>
<a href="about.html.erb" class="aboutLink" ><span>アプリについて</span></a>
</header>

<div class="top">
  <div class="title">
    <div class="title-image">
          <%= image_tag("top_icon.png") %>
    </div>
    <div class="title-text">
      <p>Amicaはあなたの生活に<u>新たな出会いををプラス</u>する</p>
      <p><u>コミュニケーションツール</u>です</p>
    </div>
  </div>
  <div class="buttons">
    <a href="/users/sign_up" class="btn btn--orange"><span>新規登録</span></a>
    <a href="/users/sign_in" class="btn btn--orange"><span>ログイン</span></a>
  </div>
</div>

<footer>
</footer>
</body>
</html>


