<%= link_to path, class: "text-decoration-none" do %>
  <div class="d-flex justify-content-between align-items-center p-3 my-3 text-dark bg-light rounded shadow-sm">
    <div><%= title %></div>
    <div>></div>
  </div>
<% end %>