<%# views/messages/_chat_message.html.erb %>
<div class="message">
  <p>room_number:<%= message.room_id %></p>
  <p>send_userid:<%= message.user_id %></p>
    <p>content:<%= message.content %></p>
</div>