<div class="modal fade" id="fileModal" tabindex="-1" aria-labelledby="fileModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fileModalLabel">ファイル送信</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="type" value="file">
        <input type="file" id="file_uploader" data-behavior="chat_file">
      </div>
      <img id="preview" src="" style="text-align: center; display: none;width: 100%;height: auto;" alt="preview">
      <div class="modal-footer">
        <label><!-- Button trigger modal -->
          <button id="file_submit_button" style="display: none" type="submit" class="btn btn-primary form-control"></button>
          <span class="m-1" style="font-size: 1.6rem;color: #1b8798"><i class="fas fa-paper-plane"></i></span>
        </label>
      </div>
    </div>
  </div>
</div>