<nav class="nav nav-underline border-bottom w-100" id="chatnav" style="background-color: #fff; height: 30px; border-bottom: solid 1px rgba(29, 144, 190, 0.8);">
  <div style="margin-left:12px">
    <span>チャット相手 : </span>
    <span><%= user.decorate.name %></span>
    <span class="small" style="color: gray">(<%= user.decorate.nickname %>)</span>
  </div>
</nav>