
<h1>Chat room</h1>
<% @message.each do |p| %>
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div id="messages">
      <%= render 'chats/chat_message',message:p, user:@user  %>
    </div>
  </div>
<% end %>

<%= label_tag :content, 'Say something:' %>
<%= text_field_tag :content, nil,data: {behavior: "chat_speaker"} %>

