
<h1>Chat room</h1>
<% @message.each do |p| %>
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div id="messages">
      <%= render 'chats/chat_message',message:p, user:@user  %>
    </div>
  </div>
<% end %>

<form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="chat_speaker">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="submit" class="btn btn-primary">投稿</button>
  </div>
</form>
