<%= stylesheet_link_tag 'pages', media: 'all', 'data-turbolinks-track': 'reload' %>
<article xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="side">
    <p><link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <form method="get" action="#" class="search_container">
      <input type="text" size="30" placeholder="名前で検索">
      <input type="submit" value="&#xf002"></p>
    </form>
    <p class="profile"><img src="/assets/top_icon.png" alt="［写真］" class="example1">
      <span>　友杉　颯太 (ニックネーム)</span>
    </p>
  </div>

  <div class="content">
    <p>トーク画面（仮）</p>
  </div>
</article>

