aws:
  access_key_id: aws_S3_access_key
  secret_access_key: sec_key

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: sec_key_base

gmail:
  email: example@gmail.com
  password: application_password

recaptcha:
  site_key: recaptcha_site_key
  secret_key: secret_key