<%= stylesheet_link_tag "mypages"%>

<div class="header">
  マイページ
</div>
<body>

<p>
  <%= image_tag 'background2.jpg',class:'myicon' %>
<div class="right">
  <%= current_user.nickname %><br>
  <%= current_user.userid %>
</div>
学生、クラス、学籍番号<br>
自己紹介<br>
<a href="/profile">更新</a><br>
取得資格<br>
タグ、趣味<br>
</p>
</body>