<div class="p-3 my-3 text-dark rounded shadow-sm" style="<%= "background-color: rgba(29,144,190,0.1)" unless information_show.any?{ |i| i.user_id == current_user.id && i.information_id == information.id }%>">
  <%= link_to information_path(information.id), class: "text-decoration-none" do %>
    <div class="form-inline">
      <%= information.title %>
    </div>
    <div class="d-block">
      <div class="text-gray small" style="text-align: right">
        <i class="far fa-clock clock-icon" style="margin-right: 3px"></i><%= information.created_at.strftime('%F') %></div>
    </div>
  <% end %>
</div>