<div class="p-3 my-3 text-dark rounded shadow-sm" style="<%= "background-color: rgba(29,144,190,0.1)" if new_whisper.include?(whisper.id) %>">
  <%= link_to whisper_path(whisper.id), class: "text-decoration-none" do %>
    <div class="form-inline">
      <%= whisper.title %>
    </div>
    <div class="d-block">
      <div class="text-gray small" style="text-align: right">
        <i class="far fa-clock clock-icon" style="margin-right: 3px"></i><%= whisper.created_at.strftime('%F') %></div>
    </div>
  <% end %>
</div>