@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "bootstrap";
@import "~tag-it/css/jquery.tagit";

#img1Big{
  display:none;
}

#back {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
}