<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline" aria-label="Secondary navigation">
    <%= link_to timelines_path, "aria-current": "page", class: "nav-link active" do %>
      友達
      <span class="badge bg-light text-dark rounded-pill align-text-bottom"><%= current_user.matchers.count %></span>
    <% end %>
    <a class="nav-link" href="#">
      フォロー中
      <span class="badge bg-light text-dark rounded-pill align-text-bottom"><%= current_user.followings_list.count %></span>
    </a>
    <a class="nav-link" href="#">最新</a>
    <a class="nav-link" href="#">おすすめ</a>
  </nav>
</div>