<h1>タイムライン</h1>

<!DOCTYPE html>
<html>
<head>
  <title>TweetApp</title>
  <%= csrf_meta_tags %>



</head>

<body>


  <ul class="header-menus">

    <li>
      <%= link_to("投稿一覧", "/timelines/index") %>
    </li>
    <li>
      <%= link_to("新規投稿", "/timelines/new") %>
    </li>
  </ul>

  </div>
  </div>

</body>
</html>