.big{
  font-size: 3.0rem;
}

.medium{
  font-size: 1.6rem;
}

footer{
  font-size: 1.4rem;
  background-color: #037394;
  width: 100%;
  height: auto;
  border-top:solid 2px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
}

strong{
  color: red;
}

li{
  list-style: none;
}