/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */



html{
  font-family: 'Kiwi Maru', serif;
}

body{
  margin: 0;
 }


header {
  background-color: #037394;
  border-bottom: solid 2px;
}


.icons{
  font-size: 1.6rem;
}

.link{
 color: #212529;
  text-decoration: none;
}

.link:hover{
  color: #FFFFFF;
}

.default_icon{
  background-color: #FFFFFF;
  border: solid 2px;
  border-radius: 50%;
  width: 60px;
}


.user_icon{
  border: solid 2px;
  border-radius: 50%;
    width: 60px;
}
.name{
  font-size: 1.2rem;
}