html{
  height: 100%;
}

/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  overflow-x: hidden;
}

#background{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

header{
  font-family: 'Rubik', 'M PLUS Rounded 1c', sans-serif;
  border: rgba(166, 145, 113, 0.2) solid 1px;
}


.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.bg-blue { background-color: #00A1AE; }

.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  opacity: 0.4;
  z-index: -1;
}

#background{
  position:fixed;
  height: 100vh;
  z-index: -1;
}