p{
  text-align: center;
}

.uploader{
  display: flex;
  position: center;
  margin: 0px 25% 0px 30%;
}



.form_uploder{
  display: block;
  justify-content: center;
  align-items: center;
}

.image_select {
  display: none;
}