// Place all the styles related to the mypages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.header{
  font-size:20px;
}
body{
  font-size:30px;
  top:-300px;
}
.right{
  position: relative;
  top:-200px;
  left: 150px;
  font-size:50px;
}
.myicon{
  width: 150px;
  height: 150px;

}
.profile{
  position: relative;
  top:-180px;
}
