// Place all the styles related to the Pages controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-family:'Noto Sans JP',sans-serif;
  background-color:#CCFFFF;
}

.side {
  background-color:#ffffff;
  width:450px;
  height:800px;
}

.content {
  background-color:#ffffff;
  width:1050px;
  height:800px;
  text-align:center;
  margin-left:10px;/*サイドバーとメインコンテンツの間に隙間                    をあけた*/
}

article {
  display:flex;/*サイドバーとメインコンテンツを横並びにする                指定をした*/
}

.search_container{
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
}
.search_container input[type="text"]{
  border: none;
  height: 2.0em;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  border-radius: 20%;
  background: #FFFFFF;
  color: #777777;
  outline : none;
  width: 2.0em;
  height: 2.0em;
}

img.example1 {
  background-color: #000000;
  margin-left: 25px;
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  55px;       /* ※縦横を同値に */
  height: 55px;       /* ※縦横を同値に */
}

.profile img {
  vertical-align: middle;
  display: inline-block;
}

.profile span {
  font-size: 20px;
}
