// Place all the styles related to the Pages controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

html {
  overflow-y: scroll;
}

.flash{
  display: none;
}

main .icon{
  border: solid 1px;
  border-radius: 30%;
}

main a{
  text-decoration: none;
}

