// Place all the styles related to the timelines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.back{
background-color:#666666;
}

.timeline{
  background-color: white;
}

.panel-content {
  border-top: 1px solid #eee;
  padding: 31px 20px 33px;
}
