<p>Hi!<%= @email %>さん!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレスが<%= @resource.unconfirmed_email %>に変更されるよ!</p>
<% else %>
  <p>メールアドレスが<%= @resource.email %>に変更されたよ!</p>
<% end %>

-------------------------------------------
AvailsGroup
email : avails2022@gmail.com
-------------------------------------------
