<p>こんにちは <%= @email %>さん。　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレスが<%= @resource.unconfirmed_email %>に変更されることをご連絡いたします。</p>
<% else %>
  <p>メールアドレスが<%= @resource.email %>に変更されたことをご連絡いたします。</p>
<% end %>

-------------------------------------------
AvailsGroup
email : avails2022@gmail.com
-------------------------------------------
