<p>こんにちは!<%= @resource.email %>さん!</p>

<p>パスワードを変更のリンクを要求されます。以下のリンクから変更してください。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>※これをリクエストしなかった場合は、このメールを無視してください。</p>
<p>※上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>

-------------------------------------------
AvailsGroup
email : avails2022@gmail.com
-------------------------------------------

