<p>こんにちは!<%= @resource.email %>さん!</p>

<p>サインインに失敗した回数が多すぎる為、アカウントがロックされました。</p>

<p>アカウントのロックを解除するには、以下のリンクをクリックしてください:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>

-------------------------------------------
AvailsGroup
email : avails2022@gmail.com
-------------------------------------------
